/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-family: 'Noto Sans', sans-serif;
}

#progress {
	height: 100vh;
	padding: 16px;
	display: flex;
	align-items: center;
}

#progress>div {
	height: 100%;
	flex: 1;
}

.progress-block {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.progress-title {
	top: 0;
	left: 0;
	position: absolute;
	font-size: 14px;
	font-weight: 700;
}

.progress-bar {
	position: relative;
	height: 120px;
	width: 120px;
	border-radius: 50%;
	display: grid;
	place-items: center;
}

.progress-bar:before {
	content: "";
	position: absolute;
	height: 84%;
	width: 84%;
	background-color: #ffffff;
	border-radius: 50%;
}

/* ===== */

.progress-controllers {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* === input === */

.input-wrapper {
	width: 60%;
	display: flex;
	align-items: center;
	margin-bottom: 12px;
}

.input-wrapper>div {
	margin-left: 12px;
	text-align: left;
}

.value-input {
	text-align: center;
	width: 52px;
	height: 32px;
	border: 1px solid black;
	outline: none;
	border-radius: 32px;

	font-family: inherit;
	font-weight: bold;
}

/* === /input === */

/* === switch === */

.switch {
	flex-shrink: 0;
	position: relative;
	display: inline-block;
	width: 52px;
	height: 32px;
}

.switch .switch-input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #E0E6EF;
	-webkit-transition: .4s;
	transition: .4s;

	border-radius: 32px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}

.switch-input:checked+.slider {
	background-color: #005BFF;
}

.switch-input:checked+.slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

/* === /switch === */

/* === media === */

@media (max-width: 425px) and (orientation: portrait) {
	#progress {
		flex-direction: column;
	}

	.progress-controllers {
		align-items: baseline;
	}
}

@media (min-width: 426px) and (orientation: landscape) {}

/* === /media === */